@import url(c:\Users\34606\Documents\GitHub\goit-markup-hw-08\sass\main.css);
:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #212121;
  --accent-color: #2196f3;
  --first-btn-color: #2196f3;
  --second-btn-color: #ffffff;
  --third-btn-color: #212121;
  --background-btn: #f5f4fa;
  --header-text-color: #ffffff;
  --header-second-text-color: #212121;
  --header-third-text-color: #757575;
  --footer-text-color: #ffffff;
  --footer-second-link-color: rgba(255, 255, 255, 0.6);
  --header-mail-color: #2196f3;
  --logo-color: #000000;
  --logo-color-footer: #fff;
  --logo-span-color: #2196f3;
  --link-color: #212121;
  --second-link-color: #757575;
  --link-accent: #2196f3;
  --border-color-head: #ececec;
  --background-color-footer: #2f303a;
  --background-color-team: #f5f4fa;
  --link-color-second: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-team__mamber-social-link, .footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.list-team__mamber-social-link:hover, .footer-social-link:hover, .list-team__mamber-social-link:focus, .footer-social-link:focus {
  background-color: #2196f3;
}

.list-team__social-team-item, .social-footer-item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-team__social-team-item + .list-team__social-team-item, .social-footer-item + .list-team__social-team-item, .list-team__social-team-item + .social-footer-item, .social-footer-item + .social-footer-item {
  margin-left: 10px;
}

P h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.conteiner-footer-social-links {
  display: block;
  padding: 0;
  margin: 0;
}

.social-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-team__social-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.list-team__mamber-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--link-color-second);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: -94px;
  padding-bottom: -94px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .conteiner {
    width: 1140px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-link-color);
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.mamber-social-link:hover .link,
.mamber-social-link:focus .link {
  fill: #fff;
}

.link:hover, .link:focus {
  color: var(--link-accent);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  bottom: 0;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transition: -webkit-transform 250ms, -webkit-perspective-origin 250ms;
  transition: -webkit-transform 250ms, -webkit-perspective-origin 250ms;
  transition: transform 250ms, perspective-origin 250ms;
  transition: transform 250ms, perspective-origin 250ms, -webkit-transform 250ms, -webkit-perspective-origin 250ms;
}

.backdrop .is-hidden .modal {
  -webkit-transform: scale(1.5) rotate(180deg);
          transform: scale(1.5) rotate(180deg);
  -webkit-transition: -webkit-transform 250ms perspective-origin 250ms;
  transition: -webkit-transform 250ms perspective-origin 250ms;
  transition: transform 250ms perspective-origin 250ms;
  transition: transform 250ms perspective-origin 250ms, -webkit-transform 250ms perspective-origin 250ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.292);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--second-title-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  margin: 0;
  color: var(--main-text-color);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .icone-modal-form {
  fill: var(--accent-color);
}

.title-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  display: block;
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: auto;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icone-modal-form {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.check-row {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-text-color);
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8.38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icone-check {
  fill: #fff;
}

.modal-check:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.policy-link {
  color: var(--accent-color);
}

.team__title-team {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
}

.work__hero-title-work {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.clients__title-clients {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.list-btn .title-btn + .title-btn {
  margin-left: 8px;
}

.title-btn-portfolio {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
  color: var(--third-btn-color);
  background-color: var(--background-btn);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.title-btn-portfolio:hover, .title-btn-portfolio:focus {
  color: var(--second-btn-color);
  background-color: var(--first-btn-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-footer-proposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  fill: white;
  -webkit-transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.btn-footer-proposition:hover {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--border-color-head);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-second-text-color);
}

.header-navigation__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--link-color);
  margin-left: 50px;
}

.conteiner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
}

.conteiner-footer__footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conteiner-footer__inform {
  display: block;
  padding: 0;
  margin: 0;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-text-color);
}

.conteiner-footer__title-social-links {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.conteiner-footer__list-link-footer {
  display: block;
}

.footer-link {
  display: block;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-second-link-color);
  background-color: #2f303a;
}

.footer-social-link {
  background-color: #44454e;
}

.footer-social-icon {
  fill: #fff;
}

.conteiner-footer-proposition {
  display: block;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title-proposition {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.email-footer-proposition {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(226, 226, 226, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.email-footer-proposition:hover, .email-footer-proposition:focus {
  border-color: var(--accent-color);
}

.hero-main {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/Header mob min.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/Header mob min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.4);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-main__main-title {
  margin-top: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero-main__hero-btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  justify-content: center;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-btn-color);
  background-color: var(--first-btn-color);
}

.conteiner-hero {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0;
}

.conteiner-hero__list-specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.list-specification__item-specification {
  display: block;
  max-width: 270px;
  margin: 0;
  padding: 0;
}

.conteiner-hero__list-specification .list-specification__item-specification + .list-specification__item-specification {
  margin-left: 30px;
}

.list-specification__thumb {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-specification__thumb > .list-specification__item-specification-thumb {
  margin: 25px 102.34px;
  -o-object-position: center;
     object-position: center;
}

.list-specification__title-specification {
  margin: 0;
  padding-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.list-specification__content-specification {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.conteiner-work {
  display: block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.work__hero-title-work {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.work__list-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-work__list-work-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  position: relative;
}

.list-work .list-work__list-work-foto + .list-work__list-work-foto {
  margin-left: 30px;
}

.list-work__work-proposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.list-work__work-proposition-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.conteiner-team {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color-team);
}

.team__list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.list-team__card-mamber {
  width: 270px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.list-team .list-team__card-mamber + .list-team__card-mamber {
  margin-left: 30px;
}

.team__foto-mamber {
  display: block;
  min-width: 100%;
  height: auto;
}

.team__footer-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name-mamber {
  margin: 0;
  padding-bottom: 10px;
  padding-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
}

.team__position-mamber {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.clients {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.list-clients__card-client {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
}

.list-clients__card-client + .list-clients__card-client {
  margin-left: 30px;
}

.list-clients__item-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.list-clients__item-client:hover, .list-clients__item-client:focus {
  border-color: var(--accent-color);
}

.list-clients__logo-client {
  fill: #afb1b8;
}

.item-client:hover .list-clients__logo-client,
.item-client:focus .list-clients__logo-client {
  fill: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.link-contacts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-link-color);
}

.link-contacts .contacts-link + .contacts-link {
  margin-left: 50px;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.link-mail:hover, .link-mail:focus {
  color: var(--accent-color);
}

.icon-link-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.icon-link-mail:hover, .icon-link-mail:focus {
  color: var(--link-accent);
}

.link-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.link-phone:hover, .link-phone:focus {
  color: var(--accent-color);
}

.icon-link-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.icon-link-phone:hover, .icon-link-phone:focus {
  fill: var(--accent-color);
}

.logo {
  font-family: Raleway;
  text-decoration: none;
  margin-right: 93px;
  margin-left: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--logo-color-footer);
  margin: 0;
  margin-bottom: 20px;
}

.logo-span {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-span-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--border-color-head);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-second-text-color);
}

.header-navigation__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--link-color);
  margin-left: 50px;
}

.conteiner-hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conteiner-portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: auto;
  padding-right: auto;
}

.portfolio-foto {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.text-window-portfolio {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.link-cards-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100%-60px)/3;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.link-cards-portfolio:nth-child(-n + 3) {
  margin-top: 0;
}

.link-cards-portfolio:nth-child(3n) {
  margin-right: 0;
}

.link-cards-portfolio:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-foto-window {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.cards-portfolio:hover .portfolio-foto-window {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.cards-portfolio > .card-portfolio-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color-head);
  border-top: transparent;
}

.name-work {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.conteiner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
}

.conteiner-footer__footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conteiner-footer__inform {
  display: block;
  padding: 0;
  margin: 0;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-text-color);
}

.conteiner-footer__title-social-links {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.conteiner-footer__list-link-footer {
  display: block;
}

.footer-link {
  display: block;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-second-link-color);
  background-color: #2f303a;
}

.footer-social-link {
  background-color: #44454e;
}

.footer-social-icon {
  fill: #fff;
}

.conteiner-footer-proposition {
  display: block;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title-proposition {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.email-footer-proposition {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(226, 226, 226, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.email-footer-proposition:hover, .email-footer-proposition:focus {
  border-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */