.header {
  display: flex;
  border-bottom: 1px solid var(--border-color-head);
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  @include font(700, 26px, 1.19, 0.03em);

  color: var(--header-second-text-color);
}

.header-navigation__header-list {
  display: flex;
}

.header-link {
  display: flex;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  @include font(500, 14px, 1.14, 0.02em);

  text-decoration: none;

  color: var(--link-color);
  margin-left: 50px;
}
