.hero-main {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Header-mob-min.jpg);

  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.4);

  text-align: center;
  justify-content: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/Header-mob-2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/Header-tab-min.jpg);

    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/Header-tab-2x-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/header-desctop-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/header-desctop-2x-min.jpg);
    }
  }
}

.hero-main__main-title {
  margin-top: 0;
  // margin-bottom: 30px;
  @include font(900, 26px, 1.62, 0.06em);

  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
  @media screen and (min-width: 768px) {
    width: 768px;
    @include font(900, 26px, 1.62, 0.06em);
  }
  @media screen and (min-width: 1140px) {
    width: 1140px;
    @include font(900, 44px, 1.36, 0.06em);
  }
}

.hero-main__hero-btn {
  display: inline-block;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  justify-content: center;
  border: 1px solid transparent;
  text-align: center;
  @include font(500, 16px, 1.87, 0.06em);

  color: var(--second-btn-color);
  background-color: var(--first-btn-color);
}
