.list-btn {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.title-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.title-btn-portfolio {
  // width: 100%;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  @include font(500, 16px, 1.62, 0.03em);
  font-style: normal;
  text-align: center;

  color: var(--third-btn-color);
  background-color: var(--background-btn);
  border: 1px solid transparent;
  cursor: pointer;
  transition: box-shadow 250ms var(--timing-function),
    color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--second-btn-color);
    background-color: var(--first-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.btn-footer-proposition {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  padding-left: 29px;
  border-color: var(--accent-color);
  background-color: var(--accent-color);

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include font(700, 16px, 1.87, 0.06em);
  text-align: center;

  color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  transition: border-color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-left: 0;

    background-color: transparent;
    &:hover,
    &:focus {
      border-color: var(--accent-color);
      background-color: var(--accent-color);
    }
  }
}
