.logo {
  font-family: Raleway;
  text-decoration: none;

  margin-left: 0;
  @include font(700, 26px, 1.16, 0.03em);
  color: var(--logo-color);
  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19, 0.03em);
    margin-right: 93px;
  }
}
.logo-footer {
  color: var(--logo-color-footer);
  margin: 0;

  //  display: inline-flex;
}
.logo-span {
  font-family: Raleway;
  text-decoration: none;
  @include font(700, 26px, 1.19, 0.03em);

  color: var(--logo-span-color);
}
