:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #212121;
  --accent-color: #2196f3;
  --first-btn-color: #2196f3;
  --second-btn-color: #ffffff;
  --third-btn-color: #212121;
  --background-btn: #f5f4fa;
  --header-text-color: #ffffff;
  --header-second-text-color: #212121;
  --header-third-text-color: #757575;
  --footer-text-color: #ffffff;
  --footer-second-link-color: rgba(255, 255, 255, 0.6);
  --header-mail-color: #2196f3;
  --logo-color: #000000;
  --logo-color-footer: #fff;
  --logo-span-color: #2196f3;
  --link-color: #212121;
  --second-link-color: #757575;
  --link-accent: #2196f3;
  --border-color-head: #ececec;
  --background-color-footer: #2f303a;
  --background-color-team: #f5f4fa;
  --link-color-second: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
